@model NotesMarketPlace.Models.User
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/images/home/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>


<body>
    <section id="emailVerification">
        <div class="content-box-md content-box-sm content-box-xs">
            <div id="verification-wrapper" class="container">
                <div class="verification-content">
                    <img src="~/images/pre-login/top-dark-logo.png" alt="logo" class="img-responsive" style="margin-bottom: 40px;">
                    <h2>Email Verification</h2>
                    <h6>Dear @Model.FirstName @Model.LastName,</h6>
                    <p style="margin-bottom: 5px;">Thanks for SigningIn.</p>
                    <p>Simply click below for email verification.</p>
                    <button class="btn btn-submit" style="flood-color:white!important;">@Html.ActionLink("Verify Email Address","Login",new { @style = "color:white;" })</button>
                </div>
            </div>
        </div>
    </section>



    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>

</body></html>