@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/Front_user.cshtml";
}
<!-- FAQ Heading -->
<section id="FAQ">
    <img src="~/images/Search/banner-with-overlay.jpg" alt="banner" class="img-responsive FAQ">
    <div id="FAQ-content">
        <div class="container text-center" id="FAQ-content-inner">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="home-heading page-heading ">
                        <h1>Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- FAQ Heading Ends -->
<!-- Questions -->
<section id="question">
    <div class="content-box-md content-box-sm content-box-xs">
        <div class="container">
            <div id="GQ-wrapper" class="row">

                <div class="sub-heading">
                    <h4>General Questions</h4>
                </div>


                <div class="accordion" id="accordionExample">
                    <div class="question">

                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    What is Market-Place-Notes ?
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch.
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    What do the University say?
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    Is this legal?
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Ofcouse It is.Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Uploaders -->
            <div id="U-wrapper" class="row">
                <div class="sub-heading ">
                    <h4 class="heading-margin">Uploaders</h4>
                </div>

                <div class="accordion" id="accordionExample-1">
                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    What can't i sell?
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseFour" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample-2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    What notes i can sell?
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample-2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Downloaders -->
            <div id="D-wrapper" class="row">
                <div class="sub-heading">
                    <h4 class=" heading-margin">Downloaders</h4>
                </div>

                <div class="accordion" id="accordionExample-1">
                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <span class="question-header">How do I buy notes ?</span>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>

                            <div id="collapsesix" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample-1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    Can I edit notes ?
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven" style="float: right;">
                                        <img src="~/images/FAQ/add.png">
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseseven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample-1">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Questions Ends -->
